@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    padding:5px;
}
#root{
    display: grid;
    align-content: center;
    justify-content: center;
}
body{
    margin: 60px;
}


input, button{
    cursor: pointer;
}

input[type="submit"], button{
    background-color: white;
    border-radius:5px;
    border-color:#00A7E1;
}

input[type="submit"]:hover, button:hover{
    background-color: #114B5F;
    color: white;
}
