.dashboardContainer{
    width: 70vw;
    border: 3px solid #00A7E1;
    padding:40px;
}

#welcomeMessage{
    font-size: 1.5em;
    display: inline-block;
    background: white;
    padding: 10px 12px;
    margin-left: 2em;
    margin-top: -1em;
    position: absolute;
}

#logOutButton{
    padding: 10px 12px;
    background-color: #114B5F;
    color:white;
    width: 8em;
}
.addButton{
    background-color: #114B5F;
    color:white;
}
#logOutButton:hover, .addButton:hover{
    background-color: white;
    color: black;
}

.bannerContainer{
    display: flex;
    justify-content: space-between ;
}
.inputContainer{
    display: grid;
    grid-template-columns: 8fr 1fr 1fr ;
    width: 70%;
    justify-content: center;
    padding:10px;
    column-gap: 1em;
}

#taskInputForm{
    display: grid;
    align-content: center;
}
.taskInput{
    border-radius: 5px;
    border-color:#00A7E1;
}

