.taskContainer{
    display:grid;
    grid-template-columns: 1fr 1fr 8fr 1fr;
    align-items: center;
    border-bottom-style:solid;
    border-color:rgba(17,75,95,0.3);
}
.icon{
    font-size: 2em;
}

.importantTask {
    color: red;
}
.icon.important{
    color:red;
}
.icon.notImportant{
    color:rgba(00, 00, 00, 0.5)
}
.icon:hover{
    color: #00A7E1;
    cursor: pointer;
}


.doneTask{
    text-decoration: line-through;
    color: grey;
}

/* .doneTask.importantTask{
    color:red;
    text-decoration: line-through;
} */
.taskText{
    font-weight: bold;
    border-color:#00A7E1;
}