.taskContainer{
    display:grid;
    grid-template-columns: 1fr 1fr 8fr 1fr;
    align-items: center;
}
.icon{
    font-size: 2em;
}
.icon:hover{
    color: #114B5F;
}

.importantTask {
    color: red;
}

.doneTask{
    text-decoration: line-through;
    color: grey;
}

.doneTask.importantTask{
    color:red;
    text-decoration: line-through;
}